* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
strong {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b6d6d3;
}

.home-nav-taniti {
    margin: auto 20px;
    color: #fff;
    padding: 5px;
    font-size: 24px;
}

header .taniti {
    margin: auto 20px;
    color: #025a62;
    padding: 5px;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    margin: auto 20px;
    color: #025a62;
    padding: 5px;
}

.home-nav {
    color: #fff;
}

nav a:hover {
    border: 1px white solid;
    background-color: white;
    color: #025a62;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #b6d6d3;
}

.col {
    display: flex;
    flex-direction: column;
}

.page {
    font-weight: bold;
}

.section {
    margin-left: 10px;
}

.introduction-container {
    background-image: url(./Assets/mohamed-masaau-nfF5-G6cFwY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    text-align: right;
    margin-top: -80px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.introduction {
    color: #fff;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.introduction h2 {
    font-size: 50px;
}

.introduction h1 {
    font-size: 15vw;
    margin-top: -120px;
    padding: 30px;
}

@media (max-width: 768px) {
    .introduction-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 10vh;
    }

    .introduction {
        align-items: center;
        text-align: center;
        max-width: 90%;
        justify-content: flex-start;
    }

    .introduction h2 {
        font-size: 2rem;
    }

    .introduction h1 {
        font-size: clamp(5rem, 10vw, 8rem);
        margin-top: -50px;
    }
}

footer .taniti {
    color: #025a62;
    font-size: 48px;
}

footer a {
    color: #025a62;
}

.section-img {
    max-width: 50vw;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-text h2 {
    text-align: center;
}

.text-link {
    margin: 10px;
    padding: 10px;
    color: #025a62;
    border: 1px #025a62 solid;
    border-radius: 5px;
}

.grid-container {
    padding: 20px;
    background-color: #025a62;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.grid-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 15px;
    background-color: #fff;
}

.grid-img {
    height: 200px;
}



.visitors-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.side-nav {
    display: flex;
    flex-direction: column;
    background-color: #b6d6d3;
    padding-top: 20px;
}

.side-nav a {
    color: #025a62;
    border: #025a62 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.on-link {
    background-color: #fff;
    border: none !important;
    border-radius: 0 !important;
}

.side-nav-header {
    color: #025a62;
    padding: 5px;
    text-align: center;
}

.main-content {
    padding: 30px;
}

.main-content h1 {
    text-align: center;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}

.container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.3s ease;
}

.container-img2 {
    max-width: 48% !important;
}

.container-img3 {
    max-width: 32% !important;
}

.tac {
    text-align: center;
}

@media (max-width: 900px) {
    .container-img3 {
    max-width: 48% !important;
    }

    .about-section {
        grid-template-columns: 1fr;
    }

    .section-img {
        margin: auto;
    }

    .visitors-page {
        grid-template-columns: 1fr;
    }


}

